
name: Build Next.js App

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18" # Use Node 18 for compatibility with Sitecore JSS SDK

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Install dependencies
        working-directory: ./headapps/nextjs-starter
        run: pnpm install

      - name: Ensure .env is loaded
        working-directory: ./headapps/nextjs-starter
        run: cp .env .env.local

      - name: Build project
        working-directory: ./headapps/nextjs-starter
        run: pnpm run build
